<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/header.css">
    <link rel="stylesheet" href="/css/home.css">
</head>
<body>
    <%-include("./partial/header") %>
    <main>
       <section class="profile">
        <div class="bg-img-div"></div>

        <div class="profile-pic">
            <img src="img/db.png" alt="profile pic" id="profile-pic">
            <p id="follower"><span id="follower-count">3k</span> Follower</p>
        </div>
        <div class="profile-details">
            <div>
                <span id="profile-name">Muhammad Khan</span>
            </div>
            <div >
                <p id="about">Lorem ipsum dolor sit amet consectetur adipisicing elit. Odit doloremque asperiores repellat dolores et maiores.</p>
            </div>
            <div class="profile-button">
                <button class="profile-button-item">Message</button>
                <button class="profile-button-item">Follow</button>
            </div>
        </div>
       </section>
    </main>
    <%-include("./partial/footer") %>
    
</body>
</html>