<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registor</title>
</head>
<body>
    <div>
        <form action="/reg/submit" method="POST" id="form">
            <label>name</label>
            <input type="text" name="name" required>
            <label>email</label>
            <input type="emai" name="email" required>
            <label>password</label>
            <input type="password" name="password" required id="password">
            <label>Conform password</label>
            <input type="password"  required id="conform_password">
            <button type="submit" id="button">Registor</button>
        </form>
    </div>
    <script src="/js/register.js"></script>
</body>
</html>