.register{
padding-top: 60px;
width: 100%;
display: flex;
justify-content: center;
align-items: center;
height: 80vh;
}

.register h2{
    padding-top: 20px;
    font-size: 3em;
    text-align: center;
}


form *{
    display: block;
    font-size: 20px;
}

form label{
    margin-top: 5px;
    margin-bottom: 2px;
    padding-left: 10px
}

form input{
    width: 320px;
    height: 40px;
    border-radius: 15px;
    padding-left: 10px;
}

button{
    width: 120px;
    height: 40px;
    border-radius: 15px;
    border: none;
    color: white;
    background-color: rgb(66, 88, 212);
}

button:hover{
    background-color: rgb(2, 13, 75);
}