* {
    box-sizing: border-box;
}

body {
    /* margin: 0;
    padding: 0;
    overflow: hidden; */
    font-size: 16px;
    font-family: 'Times New Roman', Times, serif;
    min-height: 100vh;
    position: relative;
}

.profile {
    width: 100%;
    display: grid;
    position: relative;
}

.bg-img-div {
    width: 100%;
    height: 300px;
    background-image: url("/img/bg.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.profile-pic {
    position: absolute;
    top: 50%;
    left: 10%;
}

#profile-pic {
    border-radius: 50%;
    height: 250px;
    width: 200px;
}

.follower{
    text-align: center;
}
.follower button{
    height: 25px;
    border-radius: 15px;
    border: none;
}

.profile-details {
    position: absolute;
    top: 110%;
    left: 30%;
    width: 50%;
}

#profile-name {
    font-size: 30px;
    font-weight: bold;

}

.profile-button {
    display: flex;
    gap: 20px;
}

.profile-button-item{
    width: 120px;
    height: 40px;
    text-align: center;
    border-radius: 20px;
    border: none;
    background-color: rgb(17, 0, 255);
    color: white;
}

.post-section{
    margin-top: 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.post-section form{
    display: grid;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.post-section h3{
    text-align: center;
    font-size: 25px;
    font-weight: 600;
}

.post-section button{
    border-radius: 20px;
    background-color: blue;
    color: white;
    height: 40px;
    margin-top: 15px;
}

.post-section .img-div{
    margin: 10px 0px;
}

.post-section form textarea{
    width: 700px;
    height: 300px;
    padding: 10px;
    font-size: 18px;
    border: 1px solid black;
}

.display-section{
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
}

.display-section .post-div{
    width: 700px;
    border: none;
    border-radius: 15px;
    padding: 10px;
    border: 5px solid rgba(0, 0, 0, 0.4);
    box-shadow:  1px 4px rgb(19, 63, 99);
}


.display-section .post-div img{
   width: 100%;
}

.display-section .like-div{
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
}  

.display-section .like-div button{
    border: none;
    box-shadow: 1px 2px gray;
    min-width: 100px;
    height: 30px;
    border-radius: 15px;
    font-size: 16px;
}

.comment-btn{
    padding: 5px 15px;
    
}

.create-comment-div{
    width: 100%;
    border: none;
    border: 5px solid rgba(7, 6, 54, 0.4);
    border-radius: 15px;
    margin-top: 10px;
    padding: 10px;
    text-align: center;
    
}

.create-comment-div textarea{
    width: 100%;
    height: 80px;
    padding: 10px;
    border: 1px solid black;
}

.create-comment-div button{
    width: 80%;
    height: 30px;
    margin-top: 8px;
    border-radius: 15px;
    box-shadow: 1px 3px gray;
    font-size: 16px;
}
.create-comment-div button:hover{
    background-color: blue;
    color: white;
}

.display-section .like-div button:hover{
  background-color: rgb(35, 24, 83);
  color: white;
}

.bg-blue{
    background-color: blue;
    color: white;
}


.space {
    min-height: 80px;
}

@media (max-width: 1100px){
    .profile-details {
        position: absolute;
        top: 110%;
        left: 40%;
        width: 50%;
    }
    .post-section form textarea{
        width: 600px;
    }
    .display-section .post-div{
        width: 600px;
    }
}

@media (max-width: 850px){
    .profile-details {
        position: absolute;
        top: 110%;
        left: 50%;
        width: 50%;
    }
    .post-section form textarea{
        width: 500px;
    }
    .display-section .post-div{
        width: 500px;
    }
}


@media (max-width: 550px){
    .profile-details {
        position: absolute;
        top: 150%;
        left: 10%;
        width: auto;
    }

    .post-section form textarea{
        margin-top: 300px;
        width: 90%;
        
    }
    .display-section .post-div{
        width: 90%;
    }
}