<header>
    <div class="logo-div">
        <a href="/profile">Profile</a>
    </div>

    <nav>
        nav
    </nav>

    <div class="login-div">
        <a href="/logout"><button>Logout</button></a>
    </div>
</header>